<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" type = "text/css" href = "Q8.css">
</head>
<sidebar class = "sidemenu">
    <ul>
        <li> <a href = "/home"> Home Page </a></li>
        <li> <a href = "/pets"> Browse Available Pets </a></li>
        <li> <a href = "/find"> Find a dog/cat </a></li>
        <li> <a href = "/dogcare"> Dog Care </a></li>
        <li> <a href = "/catcare"> Cat Care </a></li>
        <li> <a href = "/petgiveaway"> Have a pet to give away </a></li>
        <li> <a href = "/account"> Create Account </a></li>
        <li> <a href = "/contact"> Contact Us </a> </li>
        <li> <a href = "/logout"> Logout </a> </li>
    </ul>
</sidebar>
</html>