<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopta</title>
    <link rel="stylesheet" type="text/css" href="/Q8.css">
    <script src="Q8.js"></script>
</head>
<body>
    <%- include ('partials/header') %>
    
    <div class = "content">
        <%- include ('partials/sidebar') %>
        <h2> C O N T A C T</h2>

        <p style="font-size: 15px;"> 
            > Name: Gregory Lajoie <br><br>
            > Student ID: 40276231 <br><br>
            > Email: greglajoie55@gmail.com <br><br>
        </p>
    </div>
    <%- include ('partials/footer') %>
    
</body>
</html>