<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopta</title>
    <link rel="stylesheet" type="text/css" href="/Q8.css">
    <script src="Q8.js"></script>
</head>
<body>
    <%- include ('partials/header') %> 
    <div class = "content">
        <%- include ('partials/sidebar') %>
        <br><br><br><br><br><br><h2 style = "text-align: center; font-family: system-ui;"> Welcome to Adopta! </h2>
        <fieldset style = "border: none; width: 700px; margin:auto; text-align: justify;">
        <p style ="font-size: 20px;"> 
            Adopta is a website that helps you find a pet to adopt. You can browse available pets, find a dog/cat, learn how to take care of your pet, give away a pet, and contact us.
            Find your new friend today! Explore our gallery of cats and dogs waiting for their forever homes.
             Join our community of animal lovers and make a difference in a pet's life. Start your adoption journey now!
        </p>
        </fieldset>
    </div>
    <%- include ('partials/footer') %>
    
</body>
</html>