<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopta</title>
    <link rel="stylesheet" type="text/css" href="/Q8.css">
    <script src="Q8.js"></script>
</head>
<body>
    <%- include ('partials/header') %> 
    <%- include ('partials/sidebar') %>
    <div class = "contentPets">
        <br>
        <h2 id = "availableTitle"> B R O W S E &nbsp; P E T S </h2>
        <fieldset id = "availableField">
            <legend> PETS AVAILABLE </legend>
            <h2> Luna</h2>
                <img class = "availableImg" src = "/imgs/cat1.jpg" alt = "cat1">
                <button> Interested <br></button>
                <ul>
                    <li> <strong>Breed: </strong> Ragdoll </li>
                    <li> <strong>Age: </strong> 2 year old </li>
                    <li> <strong>Gender: </strong>Female</li>
                    <li><strong>Gets Along With: </strong>Other Cats, Small Children </li>
                    <li> <strong>Description:  </strong> Meet our precious Ragdoll companion, Luna! She loves nothing more than snuggling up on the couch with you 
                        She enjoys playing with feather toys and chasing laser pointers, but her favorite pastime is cuddling up for a nap on your lap.</li>
                </ul> 
                <p>Owner: Eryne  <br>
                    Contact: ryry1509@gmail.com </p>
            <h2> Bond</h2>
                <img class = "availableImg" src = "/imgs/dog1.jpg" alt = "dog1">
                <button> Interested <br></button>
                <ul>
                    <li> <strong> Breed: </strong> Labrador </li>
                    <li> <strong> Age: </strong> 8 months old </li>
                    <li> <strong>Gender: </strong>Female</li>
                    <li><strong>Gets Along With: </strong>Other Dogs, Other Cats, Small Children </li>
                    <li> <strong>Description: </strong> This Labrador Retriever has a heart as big as its love for fetch! 
                    With a wagging tail and a playful spirit, this furry friend is always ready for adventure and cuddles.</li>
                </ul> 
                <p>Owner: John Mickey <br>
                    Contact: johnmickey@gmail.com </p>
                    <h2> Miyuki</h2>
                    <img class = "availableImg" src = "/imgs/cat2.jpg" alt = "cat2">
                    <button> Interested <br></button>
                    <ul>
                        <li> <strong> Breed: </strong> Siamese </li>
                        <li> <strong> Age: </strong> 3 years old </li>
                        <li> <strong>Gender: </strong>Male</li>
                        <li><strong>Gets Along With: </strong>Other Dogs, Other Cats</li>
                        <li> <strong>Description:  </strong> Miyuki! Our graceful Siamese beauty with enchanting blue eyes and a personality as vibrant as her coat!
                            Miyuki is incredibly playful and enjoys interactive toys, especially ones that challenge her clever mind.</li>
                    </ul> 
                    <p>Owner: Bob Michel<br>
                        Contact: bobmichel@gmail.com </p>     
        </fieldset>
    </div>
    <%- include ('partials/footer') %>
    
</body>
</html>