<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopta</title>
    <link rel="stylesheet" type="text/css" href="/Q8.css">
    <script src="Q8.js"></script>
</head>
<body>
    <%- include ('partials/header') %>
    <div class = "content">
        <%- include ('partials/sidebar') %>
        <h2> Privacy/Disclaimer</h2>
        <p style="font-size: 15px; width: 700px ; text-align: justify;"> 
            At Adopta, we are committed to protecting your privacy and ensuring the integrity of the information on our website. 
            We understand the importance of safeguarding your personal information and want you to feel confident in how we handle it. <br><br><br>
            We promise that any personal information you provide to us will be kept confidential and will not be sold, rented, 
            or shared with third parties without your consent. 
            Your privacy is of utmost importance to us, and we take every measure to ensure the security of your data.<br><br><br>
            By using our website, you agree to the terms outlined in this Privacy Statement & Disclaimer.
             If you do not agree with any part of these terms, please refrain from using our website.<br><br><br>
        </p>
    </div>
    <%- include ('partials/footer') %>
</body>
</html>